.board {
  margin-top: 5%;
  margin-left: 10%;
  width: 80%;
  background: white;
  border: 2px solid blue;
  display: flex;
}

.nav {
  width: 20%;
  /* border: 2px solid green; */
  height: 100%;
}

.txtarea {
  margin-left: 10%;
  margin-top: 5%;
  font-size: 20px;
  height: 60%;
  width: 80%;
  background-color: white;
  border: none;
  outline: none;
  padding: 5%;
  box-shadow: 0 0 6px #dedede;
  border-radius: 3px;
}

.controlarea {
  margin-left: 10%;
  margin-top: 5%;
  font-size: 20px;
  height: 60%;
  width: 80%;
  background-color: white;
  border: none;
  outline: none;
  /* padding: 2%; */
  box-shadow: 0 0 6px #dedede;
  border-radius: 3px;
  overflow-y: scroll;
}

.item {
  display: flex;
  height: 30px;
  /* border-bottom: 1px solid rgb(100, 100, 100); */
  box-shadow: 0 0 1px #737373;

}

.insert {
  width: 50vw;
  height: 100vh;
  text-align: center;
}

.container {
  background-color: #f7f7f7;
  color: black;
  display: flex;
}

.title {
  font-size: 30px;
  font-weight: 600;
  padding-top: 5%;
  font-family: 'Courier New', Courier, monospace;
}


.no {
  cursor: pointer;
  width: 10%;
  height: 100%;
  overflow: hidden;
  /* box-shadow: 0 0 1px #737373; */

  color: rgb(20, 233, 20);
}



.id {
  overflow: hidden;
  width: 20%;
  height: 100%;
  /* box-shadow: 0 0 1px #737373; */
  text-align: left;
  cursor: pointer;
  /* border-right: 1px solid black; */
}

.txt {
  width: 50%;
  height: 100%;
  overflow: hidden;
  /* box-shadow: 0 0 1px #737373; */

  text-align: left;
}

.time {
  width: 20%;
  height: 100%;
  /* box-shadow: 0 0 1px #737373; */

  text-align: left;
}

.delbtn {
  width: 20%;
  height: 100%;
  color: rgb(121, 3, 3);
  cursor: pointer;
}


.btn {
  height: 25px;
  width: fit-content;
  color: white;
  background: #139ff0;
  cursor: pointer;
  margin: auto;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 20px;
  font-family: Roboto, Helvetica, Neue;
  border-radius: 5px;
}

.itemcontent {
  margin-top: 10vh;
  margin-left: 10vw;
}

.row {
  display: flex;
}

@media (max-width:1024px) {
  .container {
    display: block;
  }

  .insert {
    width: 100vw;
    height: 50vh;
    text-align: center;
  }

  .txtarea {
    margin-left: 0%;
    margin-top: 5%;
    font-size: 20px;
    height: 45%;
    /* width: 80%; */
  }

  .no {
    width: 25%;
  }

  .txt {
    width: 35%;
  }

}